.section-events {
    background-color: $color-white;
    border-top: 3px solid $color-yellow;
    border-bottom: 0;

    p {
        font-size: $paragraph-size;
        color: $color-white;
        text-align: justify
    }

    .section-events__title {
        color: $color-yellow;
    }
    
    .our-events-container {
        justify-content: center
    }
}
