.logos {
    margin-top: 10vh;
    
    &__title {
        margin-bottom: 100px !important;
    }

    &__logo-container{
        justify-content: center;
    }

    &__logo {
        max-height: 200px;
        width: auto;
    }
}