.logos {
    margin-top: 10vh;

    &__title {
        margin-bottom: 100px !important;
    }

    &__logo-container{
        justify-content: center;
    }

    &__logo {
        max-height: 200px;
        width: auto;
        min-width: 50%;
        object-fit: contain;

        @media screen and (max-width: 720px) {
            margin-bottom: 50px;
        }
    }
}