.section-mission {
  width: 100%;
  background-color: $color-white;

  .section-icon {
    color: $color-grey;
    fill: $color-grey;
  }

  .mission-slogan {
    color: $color-grey;
    margin-bottom: $paragraph-spacing;
  }
}
