#landing-welcome-cover {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	.background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;

		&:before {
			content: "";
			position: fixed;
			top: -10px;
			left: 0;
			width: 100%;
			height: 10px;
			box-shadow: 0px 0px 200px 150px rgba(0, 0, 0, 0.5);
		}

		img {
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
			position: absolute;
			top: -60%;
			left: 0;
			filter: grayscale(50%) brightness(60%);
		}
	}

	h1, h2, h3, & > div {
		text-align: center;
		flex: 0 0;
		color: white;
	}

	h1 {
		position: relative;
		font-size: 60pt;
		font-weight: bold;
		text-transform: uppercase;

		span {
			$cursor-height: 1em;
			line-height: 1em;
			height: $cursor-height;
			position: absolute;
			margin-left: 10px;
			top: 0;
			border-right: 4px solid white;

			&.hidden {
				visibility: hidden;
			}
		}
	}

	h2 {
		font-size: 20pt;
		margin-top: 20px;
	}
	
	h3 {
		font-size: 40pt;
		font-weight: lighter;
		text-transform: uppercase;
	}

	.thumbnail {
		margin: 20px 0;

		img {
			filter: invert(1);
			transition: all 1s ease;
			transform: scale(1);

			&.scaled-out {
				transform: scale(0.9);
			}
		}
	} 
}