.app-container {
    .content-wrapper {
        background-color: $color-white;

        .vertically-centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}