.gallery {
  display: flex;
  justify-content: center;

  &__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 60%;

    &--item {
      height: 200px;
      padding: 4px;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
