.subpage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-white;
    color: $color-grey;

    ul {
        list-style-type: square;

        li {
            margin-left: 5px;
        }
    }

    .content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 0;
        background-color: unset;

        p {
            max-width: unset;

            span.italic {
                font-style: italic;
            }
        }
        ul {
            margin-left: 25PX;
        }
    }

    &__section {
        flex: 0 1 1100px;
        padding: 25px;
        background-color: white;
        border: 3px solid $color-yellow;
        margin: 25px 15px;

        &--content {
            padding: 15px 0;
        }
    }

    &__header {
      flex: 0 0 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      background-color: $color-grey;
      border-bottom: 3px solid $color-yellow;
      padding: 25px 0;

      &--logo {
        flex: 0 1 150px;

        img {
            width: 100%;
        }
      }

      &--title {
        flex: 0 0 100%;
        color: $color-yellow;
        font-family: $brand-font-family;
        margin: 25px 15px;
      }
    }
  }