@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&amp;subset=latin-ext');

@import 'variables';
@import 'components/all';
@import '~grommet/scss/grommet-core/index';
@import 'basic/all';
@import 'themes/all';
@import 'containers/all';

* {
	box-sizing: border-box;
}

html, body, .app-container {
	height: 100%;
	position: relative;
	font-family: 'Inconsolata', monospace;
}
