@import 'variables';
@import '~grommet/scss/grommet-core/index';
@import 'basic/all';
@import 'themes/all';
@import 'containers/all';
@import 'components/all';

* {
	box-sizing: border-box;
}

html, body, .app-container {
	height: 100%;
	position: relative;
	font-family: 'Inconsolata', monospace;
}