$color-grey: #1f1a17;
$color-yellow: #ffd100;
$color-white: #eceded;

$paragraph-spacing: 20px;
$paragraph-size: 20px;

$brand-accent-colors: ($color-yellow) !default;
$brand-neutral-colors: ($color-grey) !default;
$brand-font-family: 'Work Sans', monospace;
$link-color: $color-grey !default;
$link-hover-color: rgba($color-grey, 0.8) !default;
$button-border-color: $color-yellow !default;
$button-text-color: $color-yellow !default;
$button-secondary-color: rgba(#333, 0.6) !default;

$h1-font-size: 48px !default;
$h1-palm-font-size: 42px !default;
$h2-font-size: 42px !default;
$h2-palm-font-size: 36px !default;
$h3-font-size: 30px !default;
$h4-font-size: 24px !default;
$h5-font-size: 24px !default;
$h6-font-size: 24px !default;